
displays = 1,1
use_DVR = 1
use_phasespace=true
use_hmd=true
use_wiimote=true

use_fullscreen=true

use_eyetracking = true
sim_trackerData = false

#vizconfigFileName = "defaultConfig"
vizconfigFileName = "setupDK2Cluster"

# vizconfigFile = string(default='vizConfig/defaultConfig')

[hmd]
	
	type = DK2
	overlap = -1  # Use default set by Vizard
	offset=13


[phasespace]

	phaseSpaceIP = 192.168.1.230

	rigidBodyList = hmd-DK2.rb, badm-paddle.rb
	
	# rigidOffsetMM is in VIZARD COORDINATES
	rigidOffset_ridx_XYZ = '[0,0,-0.055],[0,0.0,0]'
	rigidAvgMarkerList_rIdx_mId = '[0, 3,4],[0,1,4,5]'
	
	#rigidOffsetMM_ridx_WorldXYZ = '[0,-6.0,2.0],[0,0.0,0]'
	#rigidAvgMarkerList_rIdx_mId = '[1,2],[0,1,4,5]'

	#rigidBodyList = hmd-nvisMount.rb, paddle-squash.rb
	#rigidOffsetMM_ridx_WorldXYZ = '[0,-6.0,2.0],[0,-20.0,0]'
	#rigidAvgMarkerList_rIdx_mId = '[1,2],[3,5]'
	
	# oculus 

	# Note that rigid body sizes is parsed using an 'eval' command inside 
	# mocapINterface.__init__.  This doesn't work beautifully yet.  
	# When your array is 1 element long, I thnk you need double brackets.

	owlParamInterp = 4
	owlParamPostProcess = 0
	owlParamFrequ = 0 # 0 = max frequency
	owlParamMarkerCount = 30
	owlParamMarkerCondThresh = 50
	owlParamModeNum = 1

[writer]

	outFileName = '.mov'
	outFileDir = 'D:/Data/CatchDK2/'

[eyetracker]
	recordCalibForNFrames = 100